//finanza = Situazione Debitoria Creditoria
%div{:class=>"inailport-window #{if (defined? closed) and closed then ' inailport-window-closed' end}"}
  .inailport-titlebar
    .inailport-titlebar-title-panel.inailport-titlebar-button-panel
      Situazione Debitoria Creditoria
  .inailport-window-content
    .inailport-finanza
      .inailport-finanza-dati
        .inailport-row-odd
          .inailport-finanza-label
            Dati anagrafici ditta
          .inailport-finanza-toggle
            %div
              = link "Apri"
        .inailport-row-even
          .inailport-finanza-label
            Debiti
          .inailport-finanza-toggle
            %div
              = link "Chiudi"
          .inailport-finanza-header
            Progressivo:
          .inailport-finanza-header-wide
            Tipo:
          .inailport-finanza-header-narrow
            Importo:
          .inailport-finanza-header-wide
            Data scadenza:
          .inailport-finanza-header
            Stato:
          .inailport-finanza-header-wide
            Totale debiti:
          .inailport-finanza-cell
            10090200
          .inailport-finanza-cell-wide
            Richieste Migrate
          .inailport-finanza-cell-narrow
            0,57
          .inailport-finanza-cell-wide
            16-03-2000
          .inailport-finanza-cell
            Confermato
          .inailport-finanza-cell-wide
            0,57
        .inailport-row-odd
          .inailport-finanza-label
            Crediti
          .inailport-finanza-toggle
            %div
              = link "Chiudi"
          .inailport-finanza-header
            Progressivo:
          .inailport-finanza-header-wide
            Tipo:
          .inailport-finanza-header-narrow
            Importo:
          .inailport-finanza-header-wide
            Data scadenza:
          .inailport-finanza-header
            Stato:
          .inailport-finanza-header-wide
            Totale debiti:
          .inailport-finanza-cell
            1000009808
          .inailport-finanza-cell-wide
            Eccedenza
          .inailport-finanza-cell-narrow
            58,77
          .inailport-finanza-cell-wide
            &nbsp;
          .inailport-finanza-cell
            Confermato
          .inailport-finanza-cell-wide
            374,84
          .inailport-finanza-cell
            1000010317
          .inailport-finanza-cell-wide
            Eccedenza
          .inailport-finanza-cell-narrow
            99,16
          .inailport-finanza-cell-wide
            &nbsp;
          .inailport-finanza-cell
            Confermato
          .inailport-finanza-cell-wide
            &nbsp;
          .inailport-finanza-cell
            1000010383
          .inailport-finanza-cell-wide
            Eccedenza
          .inailport-finanza-cell-narrow
            103,29
          .inailport-finanza-cell-wide
            &nbsp;
          .inailport-finanza-cell
            Confermato
          .inailport-finanza-cell-wide
            &nbsp;
          .inailport-finanza-cell
            1000011066
          .inailport-finanza-cell-wide
            Eccedenza
          .inailport-finanza-cell-narrow
            113,62
          .inailport-finanza-cell-wide
            &nbsp;
          .inailport-finanza-cell
            Confermato
          .inailport-finanza-cell-wide
            &nbsp;
        .inailport-row-even
          .inailport-finanza-label
            Saldo
          .inailport-finanza-toggle
            %div
              = link "Chiudi"
          .inailport-finanza-sublabel
            Saldo a credito della ditta:
          .inailport-finanza-sublabel-value
            374,84
        .inailport-row-odd
          .inailport-finanza-label
            Incassi sospesi
          .inailport-finanza-toggle
            %div
              = link "Apri"
        .inailport-row-even
          .inailport-finanza-label
            Ipsum volutpat eu vel
          .inailport-finanza-toggle
            %div
              = link "Apri"
        .inailport-row-odd
          .inailport-finanza-label
            Ipsum volutpat eu vel
          .inailport-finanza-toggle
            %div
              = link "Apri"